<div class="container-fluid mt-5">
  <ng-container *ngFor="let item of dataList;let mi=index;">
      <div class="progress mb-4" *ngFor="let elm of item.bars;let i=index;">
          <div *ngIf="elm < item.limit"   [ngClass]="{'progress-bar':true,'progress-bar':true,'progress-bar-striped':true,'bg-info':true}" role="progressbar" [ngStyle]="{'width':elm+'%'}">{{elm}} </div>
          <div *ngIf="elm > item.limit"   [ngClass]="{'progress-bar':true,'progress-bar':true,'progress-bar-striped':true,'bg-danger':true}" role="progressbar" [ngStyle]="{'width':elm+'%'}">{{elm}} </div>
        </div> 
    <br>
    <hr>
    <button *ngFor="let elm of item.buttons;let i=index;" type="button" class="btn btn-outline-success btn-sm opb" (click)="progressUpdate(mi,elm)">{{elm}}% </button>
    <select class="form-control form-control-sm mt-3" (change)="ValueChange($event.target.value)" selected>
        <option>Select Progress bar</option>
        <option *ngFor="let elm of item.bars;let bi=index;" value="{{bi}}">Progress bar {{(bi+1)}}</option>
      
        </select>
  </ng-container>
</div>